<?xml version="1.0" ?>
<robot name='wsg50_gripper'>
  <link name='base_link'>
    <visual name='base_link_visual'>
      <pose frame=''>0 0 0 0 -0 0</pose>
      <geometry>
        <mesh>
          <scale>1 1 1</scale>
          <uri>meshes/WSG50_110.stl</uri>
        </mesh>
      </geometry>
      <material>

      </material>
    </visual>
    
  </link>
</robot>
