<robot name="root"><link name="link_climbing_hold_vhacd_convex_0"><inertial><origin rpy="0 0 0" xyz="0 0 0" /><mass value="2.81E-04" /><inertia ixx="2.68E-07" ixy="-7.36E-10" ixz="-1.09E-09" iyy="2.19E-07" iyz="-6.41E-09" izz="2.07E-07" /></inertial><visual><origin rpy="0 0 0" xyz="0 0 0" /><geometry><mesh filename="package://climbing_hold/climbing_hold_vhacd_convex_0.obj" /></geometry><material name=""><color rgba="0.75 0.75 0.75 1" /></material></visual><collision><origin rpy="0 0 0" xyz="0 0 0" /><geometry><mesh filename="package://climbing_hold/climbing_hold_vhacd_convex_0.obj" /></geometry></collision></link></robot>