<?xml version="1.0" ?>
<robot name="fence">
  <material name="color">
    <color rgba="0.867 0.776 0.678 1.0"/>
  </material>

  <link name="base_link">
    <contact>
      <lateral_friction value="1.0"/>
      <rolling_friction value="0.001"/>
      <spinning_friction value="0.001"/>
      <inertia_scaling value="1.0"/>
    </contact>

    <inertial>
      <origin rpy="0 0 0" xyz=".05 .05 .025"/>
       <mass value="0.5"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>

    <collision>
      <origin rpy="0 0 0" xyz="0 .38 0"/>
      <geometry>
k       <box size="1.22 .02 .10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 -.38 0"/>
      <geometry>
        <box size="1.22 .02 .10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz=".61 0 0"/>
      <geometry>
        <box size=".02 .76 .10"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-.61 0 0"/>
      <geometry>
        <box size=".02 .76 .10"/>
      </geometry>
    </collision>

    <visual>
      <origin rpy="0 0 0" xyz="0 .38 0"/>
      <geometry>
        <box size="1.22 .02 .10"/>
      </geometry>
      <material name="color"/>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0 -.38 0"/>
      <geometry>
        <box size="1.22 .02 .10"/>
      </geometry>
      <material name="color"/>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz=".61 0 0"/>
      <geometry>
        <box size=".02 .76 .10"/>
      </geometry>
      <material name="color"/>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="-.61 0 0"/>
      <geometry>
        <box size=".02 .76 .10"/>
      </geometry>
      <material name="color"/>
    </visual>

  </link>
</robot>
